

/* **********IMAGES LOGO LIEN HEADER*************** */
header a img{
    width: 20%;
}
header a{
    
    width: 20%;
    padding: 0 10px 0 20PX;
    text-transform: uppercase;
    font-size: 0.60rem;
    color: gray;
}


/* ********************************************* */

body > div {
    background-image: url(../images/s1b3.jpeg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: wrap column;
    width: 80%;
    margin: 50px auto;
    border-radius: 0.8rem;
    height: 15rem;
    align-content: center;
}

body > div p{
    background-color:#1B1C1B;
    color: white;
    width: 90%;
    height: 3rem;
    padding: 0.5rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}
body > div h1{
    text-transform: uppercase ;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    color: white;
    height: 1rem;
    padding: 0.3rem;
    background-color: #191919;
    border-radius: 0.2rem;
    
}


body section:nth-child(3){
    display: flex;
    background-image: url(../images/s2b2.jpeg);
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    margin: 50px auto;
    width: 100%;
    height: 13rem;
}
body section:nth-child(3) article {
    text-align: center;
    width: 25%;    
}
body section:nth-child(3) h1{
    text-transform: uppercase;
}
body section:nth-child(4){
    background-color: #191919;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    height: 20rem;
    align-items: center;
    color: white;
}

 #img{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    height: 10rem;
} 

body section:nth-child(4) img{
    width: 60%;
}
/* **************** Nos Réalisation ****************** */

body section:nth-child(4) div{
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    margin: 50px auto;
    width: 100%;
    height: 13rem;
}
body section:nth-child(4) article {
    text-align: center;
    width: 25%;    
}
body section:nth-child(3) h1{
    text-transform: uppercase;
}
